<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="lms_db"/>
        <env name="DB_NAME" value="lms_db"/>
        <env name="DB_USER" value="debian-sys-maint"/>
        <env name="DB_PASSWORD" value="Rg6OzvMTokW76fQM"/>
    </php>
</phpunit>


